<!doctype html>
<html lang="en">
<head>
    <title>员工编辑</title>
    <th:block th:include="comm/taglib :: taglib"></th:block>
</head>
<body>

<th:block th:include="comm/left :: left"></th:block>

<th:block th:include="comm/header :: header"></th:block>

<!-- begin::page header -->
<div class="page-header d-md-flex justify-content-between align-items-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-t-0">
            <li class="breadcrumb-item"><a href="/index.html"><i class="fa fa-home"> 首页</i></a></li>
            <li class="breadcrumb-item"><a href="#">员工管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">员工编辑</li>
        </ol>
    </nav>
</div>

<!-- begin::main content -->
<main class="main-content">

    <!-- end::page header -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="username">工号</label>
                                <input type="text" class="form-control" id="username" placeholder="请输入工号" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="password">密码</label>
                                <input type="password" class="form-control" id="password" placeholder="请输入密码" autocomplete="new-password">
                            </div>
                            <div class="form-group">
                                <label for="nickname">姓名</label>
                                <input type="text" class="form-control" id="nickname" placeholder="请输入姓名" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="nickname">性别</label>
                                <div class="form-control">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sex" id="male" value="0" checked>
                                        <label class="form-check-label" for="male">男</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="sex" id="female" value="1">
                                        <label class="form-check-label" for="female">女</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">生日</label>
                                <input type="text" class="form-control datePick" id="birthday" placeholder="请选择生日" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-4">

                            <div class="form-group">
                                <label for="telephone">电话</label>
                                <input type="text" class="form-control" id="telephone" placeholder="请输入电话" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="email">邮箱</label>
                                <input type="text" class="form-control" id="email" placeholder="请输入邮箱" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="username">入职时间</label>
                                <input type="text" class="form-control datePick" id="entryTime" placeholder="请选择入职时间" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="categoryId">负责项目</label>
                                <select class="form-control" id="categoryId">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="email">地址</label>
                                <input type="text" class="form-control" id="address" placeholder="请输入地址" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="button" class="btn btn-primary" id="save">保存</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</main>
<!-- end::main content -->

<th:block th:include="comm/footer :: footer"></th:block>
<script>

    var id = getQueryVariable('id');
    //字段回填
    $.get("/employee/"+id, function (result) {
        var obj = result.data;
        $('#username').val(obj.username);
        $('#password').val(obj.password);
        $('#nickname').val(obj.nickname);
        $("input[name='sex'][value='"+obj.sex+"']").prop("checked",'checked');
        $('#birthday').val(obj.birthday);
        $('#telephone').val(obj.telephone);
        $('#email').val(obj.email);
        $('#entryTime').val(obj.entryTime);
        // 初始化项目
        getCategory(obj.categoryId);
        $('#address').val(obj.address);
        $('#save').attr('data-id', id);
    });


    //绑定保存事件
    $("#save").click(function () {
        var id = $(this).attr('data-id');
        var username = $('#username').val();
        var password = $('#password').val();
        var nickname = $('#nickname').val();
        var sex = $("input[name='sex']:checked").val(); //获取sex的值
        var birthday = $('#birthday').val();
        var telephone = $('#telephone').val();
        var email = $('#email').val();
        var entryTime = $('#entryTime').val();
        var categoryId = $('#categoryId').val();
        var address = $('#address').val();
        if (username == "" || username == null) {
            toastr.warning('请输入账号');
            $("#username").focus();
            return;
        }
        if (password == "" || password == null) {
            toastr.warning('请输入密码');
            $("#password").focus();
            return;
        }
        if (nickname == "" || nickname == null) {
            toastr.warning('请输入姓名');
            $("#nickname").focus();
            return;
        }
        if (birthday == "" || birthday == null) {
            toastr.warning('请选择生日');
            $("#birthday").focus();
            return;
        }
        if (telephone == "" || telephone == null) {
            toastr.warning('请输入电话');
            $("#telephone").focus();
            return;
        }
        if (email == "" || email == null) {
            toastr.warning('请输入邮箱');
            $("#email").focus();
            return;
        }
        if (entryTime == "" || entryTime == null) {
            toastr.warning('请选择入职时间');
            $("#entryTime").focus();
            return;
        }
        if (categoryId == "" || categoryId == null) {
            toastr.warning('请选择负责项目');
            $("#servicesId").focus();
            return;
        }
        if (address == "" || address == null) {
            toastr.warning('请输入地址');
            $("#address").focus();
            return;
        }
        var data = {};
        data.id = id;
        data.username = username;
        data.password = password;
        data.nickname = nickname;
        data.sex = sex;
        data.birthday = birthday;
        data.telephone = telephone;
        data.email = email;
        data.entryTime = entryTime;
        data.categoryId = categoryId;
        data.address = address;
        $.ajax({
            type: "PUT",
            async: false,//请求同步，必须执行完此ajax,才会去执行后面的js代码
            url: "/employee",
            dataType: "json",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                //后台返回的需要显示的信息列表
                if (data.code == 200) {
                    toastr.success(data.msg);
                    window.location.href = '/employee/list'
                } else {
                    toastr.error(data.msg);
                }
            }
        })
    });

    // 获取所有项目
    function getCategory(categoryId){
        $.get("/category/all", function (result) {
            $("#categoryId").empty();
            $("#categoryId").append("<option value=''>--请选择服务项目--</option>");//新增
            $.each(result.data, function (index, item) {
                if(item.id == categoryId){
                    $("#categoryId").append("<option value='" + item.id + "' selected>" + item.categoryName + "</option>");
                }else{
                    $("#categoryId").append("<option value='" + item.id + "'>" + item.categoryName + "</option>");
                }
            });
        });
    }

</script>
</body>
</html>