<div th:fragment="taglib">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- 全局样式 -->
    <link rel="stylesheet" href="/vendors/bundle.css" type="text/css">

    <!-- dataTable表格插件样式 -->
    <link rel="stylesheet" href="/vendors/dataTable/dataTables.bootstrap4.min.css" type="text/css">
    <link rel="stylesheet" href="/vendors/dataTable/fixedColumns.bootstrap4.min.css" type="text/css">

    <!-- datepicker日期插件样式 -->
    <link rel="stylesheet" href="/vendors/datepicker/daterangepicker.css">

    <!-- clockpicker时钟插件样式 -->
    <link rel="stylesheet" href="/vendors/clockpicker/bootstrap-clockpicker.min.css" type="text/css">

    <!-- 图标库样式 -->
    <link rel="stylesheet" href="/icons/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/icons/themify/themify-icons.css" type="text/css">
    
    <!-- 通用样式 -->
    <link rel="stylesheet" href="/css/app.css" type="text/css">
    <link rel="stylesheet" href="/css/custom.css" type="text/css">

    <!-- 全局scripts -->
    <script src="/vendors/bundle.js"></script>

    <!-- dataTable表格插件 -->
    <script src="/vendors/dataTable/jquery.dataTables.min.js"></script>
    <script src="/vendors/dataTable/dataTables.bootstrap4.min.js"></script>
    <script src="/vendors/dataTable/dataTables.fixedColumns.min.js"></script>
    <script src="/vendors/dataTable/dataTables.responsive.min.js"></script>

    <!-- datepicker日期插件 -->
    <script src="/vendors/datepicker/moment.min.js"></script>
    <script src="/vendors/datepicker/daterangepicker.js"></script>
    <!-- end::datepicker -->

    <!-- clockpicker时钟插件 -->
    <script src="/vendors/clockpicker/bootstrap-clockpicker.min.js"></script>

    <!-- wangEditor富文本编辑器 -->
    <script type="text/javascript" src="/vendors/wangEditor/wangEditor.min.js"></script>



</div>