<!doctype html>
<html lang="en">
<head>
    <title>公告信息</title>
    <div th:include="comm/taglib :: taglib"></div>
</head>
<body>

<th:block th:include="comm/left :: left"></th:block>

<th:block th:include="comm/header :: header"></th:block>

<!-- begin::page header -->
<div class="page-header d-md-flex justify-content-between align-items-center">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb m-t-0">
            <li class="breadcrumb-item"><a href="/index.html"><i class="fa fa-home"> 首页</i></a></li>
            <li class="breadcrumb-item"><a href="#">公告管理</a></li>
            <li class="breadcrumb-item active" aria-current="page">公告信息</li>
        </ol>
    </nav>
</div>

<!-- begin::main content -->
<main class="main-content">

    <!-- end::page header -->
    <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <div class="action-box">
                    <div class="search-box">
                        <form class="form-inline" role="form">
                            <div class="form-group">
                                <label class="sr-only" for="title">主题</label>
                                <input type="text" class="form-control" id="title" placeholder="请输入公告主题" autocomplete="off">
                            </div>
                            <button type="button" class="btn btn-primary" id="search">查询</button>
                        </form>
                    </div>
                </div>
                <table id="dataTable" class="table table-hover table-bordered"></table>
            </div>
        </div>

    </div>
</main>
<!-- end::main content -->

<th:block th:include="comm/footer :: footer"></th:block>
<script>

    //初始化Datatable
    var datatable = $('#dataTable').DataTable({
        info: true,
        scrollY: "400px",
        scrollCollapse: true,
        autoWidth: true,
        dom: "<'toolbar'>" +
            "<'row'<'col-sm-12'tr>>" +
            "<'row'<'col-sm-5'li><'col-sm-7'p>>",
        ordering: false,
        searching: false,
        serverSide: true,
        processing: true,
        paging: true,
        pagingType: "full_numbers",
        pageLength: 10,
        aLengthMenu: [10, 20, 50, 100],
        ajax: {
            "url": "/notice/list",
            "type": "POST",
            "data": function (d) {
                d.title = $('#title').val();
            }
        },
        columns: [
            {title: "主题", data: 'title'},
            {title: "时间", data: 'createTime'},
            {
                title: "操作",
                data: 'action',
                width: '100px',
                render: function (data, type, row, meta) {
                    var btnHtml = '';
                    btnHtml += '<div class="btn-group" role="group" aria-label="Basic example">';
                    if (row.id) {
                        btnHtml += ' <a type="button" class="btn btn-info btn-sm" href="/notice/info?id=' + row.id + '"><i class="fa fa-eye"> 详情</i></a>';
                    } else {
                        btnHtml += ' <button type="button" class="btn btn-info btn-sm" disabled><i class="fa fa-eye"> 详情</i></button>';
                    }
                    btnHtml += '</div>';
                    return btnHtml;
                }
            }

        ],
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 条 / 页",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "，共 _TOTAL_ 条",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ":以升序排列此列",
                "sSortDescending": ":以降序排列此列"
            }
        },
    });

    //添加查询事件
    $("#search").on("click", function () {
        reloadData();
    });

    // 刷新数据
    function reloadData() {
        $('#dataTable').DataTable().ajax.reload();
        // 刷新小红点
        if (typeof updateNoticeBadge === 'function') {
            updateNoticeBadge();
        }
    }

</script>
</body>
</html>